<h2 class="page-header">Info Table</h2>
<div class="search">
  <form action="/infoTable" method="GET">
    <input type="text" placeholder="Search By Name" name="person" value="<%= searchOption.person %>">
    <button type="submit">Search</button>
  </form>
</div>
<div class="parentTable_Info">
  <div class="Column">
    <h3>Amount</h3>
    <div class="column_data">
      <% entries.forEach(entry => { %>
      <div><%= entry.amount %></div>
      <%}) %>
    </div>
  </div>
  <hr>
  <div class="Column">
    <h3>Paid By</h3>
    <div class="column_data">
      <% entries.forEach(entry => { %>
      <div><%= entry.person %></div>
      <%}) %>
    </div>
  </div>
  <hr>
  <div class="Column">
    <h3>Date</h3>
    <div class="column_data">
      <% entries.forEach(entry => { %>
      <div><%= entry.currentTime.toISOString().split("T")[0] %></div>
      <%}) %>
    </div>
  </div>
  <hr>
  <div class="Column">
    <h3>Remarks</h3>
    <div class="column_data">
      <% entries.forEach(entry => { %>
      <div><%= entry.reason %></div>
      <%}) %>
    </div>
  </div>
</div>

<div id="total_counter">
  <div>
    Total
    <div class="counter">
      <% let s = 0 %>
      <% entries_for_total.forEach(entry => { %>
      <% s = s + entry.amount %>
      <% }); %>
      <%= s %>
    </div>
  </div>
</div>